HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
db
oauth2ClientData.yml
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
*.pem
*.p12
.idea
*.iws
*.iml
*.ipr
oauth2ClientData.yml


### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/
